<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/../../static/css/Site.css}" href="css/Site.css"/>
    <link rel="stylesheet" th:href="@{/../../static/css/zy.all.css}" href="css/zy.all.css"/>
    <link rel="stylesheet" th:href="@{/../../static/css/font-awesome.min.css}" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/../../static/css/amazeui.min.css}" href="css/amazeui.min.css"/>
    <link rel="stylesheet" th:href="@{/../../static/css/admin.css}" href="css/admin.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="lyear-layout-web">
        <div class="lyear-layout-container">
            <!--左侧导航-->
            <aside class="lyear-layout-sidebar">

                <!-- logo -->
                <div id="logo" class="sidebar-header">
                    <a href="javascript:void(0)"><img th:src="@{/../../static/Resources/images/mylogo.png}"
                                                      src="images/logo-sidebar.png" title="LightYear" alt="LightYear"/></a>
                </div>
                <div class="lyear-layout-sidebar-scroll">

                    <nav class="sidebar-main">
                        <ul class="nav nav-drawer">
                            <li class="nav-item active"><a th:href="@{/user/user/getAnnouncementToUser}"
                                                           href="javascript:void(0)"><i class="mdi mdi-home"></i> 首页</a>
                            </li>
                            <li class="nav-item nav-item-has-subnav active open">
                                <a href="javascript:void(0)"><i class="mdi mdi-access-point-network"></i> 车位</a>
                                <ul class="nav nav-subnav">
                                    <li class="active"><a
                                            th:href="@{'/car/getCarParksListToUser?userId='+${session.user.id}}"
                                            href="lyear_forms_elements.html">空闲车位查询</a></li>
                                    <li><a target="right" th:href="@{'/car/getMyCarParking?userId='+${session.user.id}}"
                                           href="lyear_forms_elements.html">我的车位</a></li>
                                </ul>
                            </li>
                            <li class="nav-item nav-item-has-subnav">
                                <a href="javascript:void(0)"><i class="mdi mdi-currency-jpy"></i> 充值缴费</a>
                                <ul class="nav nav-subnav">
                                    <li><a th:href="@{'/user/user/toUserChongzhi?userId='+${session.user.id}}"
                                           href="#">充值</a></li>
                                    <li><a target="right"
                                           th:href="@{'/user/user/toUserCard?userId='+${session.user.id}}">办卡</a></li>
                                    <li><a href="#">历史缴费</a></li>
                                </ul>
                            </li>
                            <li class="nav-item nav-item-has-subnav">
                                <a href="javascript:void(0)"><i class="mdi mdi-account"></i> 账号资料</a>
                                <ul class="nav nav-subnav">
                                    <li><a target="right"
                                           th:href="@{'/user/user/toUserInfo?userId='+${session.user.id}}">个人信息</a>
                                    </li>
                                    <li><a target="right"
                                           th:href="@{'/user/user/toUpdatePassword?userId='+${session.user.id}}">修改密码</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>

                    <div class="sidebar-footer">
                        <p class="copyright">&copy;copyright,有任何建议或问题欢迎提出，邮箱地址：1207626332@qq.com<a
                                href="http://www.baidu.com/" target="_blank">紫竹之家</a></p>
                    </div>
                </div>

            </aside>
            <!--End 左侧导航-->

            <!--头部信息-->
            <header class="lyear-layout-header">

                <nav class="navbar navbar-default">
                    <div class="topbar">

                        <div class="topbar-left">
                            <div class="lyear-aside-toggler">
                                <span class="lyear-toggler-bar"></span>
                                <span class="lyear-toggler-bar"></span>
                                <span class="lyear-toggler-bar"></span>
                            </div>
                            <span class="navbar-page-title"> </span>
                        </div>

                        <ul class="topbar-right">
                            <li class="dropdown dropdown-profile">
                                <a href="javascript:void(0)" data-toggle="dropdown">
                                    <img class="img-avatar img-avatar-48 m-r-10"
                                         th:src="@{/../../static/Resources/images/logo-ico.png}"
                                         src="images/users/avatar.jpg"
                                         alt="社会你鹏哥"/>
                                    <span th:text="${session.user.nicheng}">笔下光年 <span class="caret"></span></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a target="right"
                                           th:href="@{'/user/user/toUserInfo?userId='+${session.user.id}}"><i
                                            class="mdi mdi-account"></i> 个人信息</a></li>
                                    <li><a target="right"
                                           th:href="@{'/user/user/toUpdatePassword?userId='+${session.user.id}}"><i
                                            class="mdi mdi-lock-outline"></i> 修改密码</a>
                                    </li>
                                    <li><a href="javascript:void(0)"><i class="mdi mdi-delete"></i> 清空缓存</a></li>
                                    <li class="divider"></li>
                                    <li><a th:href="@{/user/user/userLogout}"><i class="mdi mdi-logout-variant"></i>
                                        退出登录</a>
                                    </li>
                                </ul>
                            </li>
                            <!--切换主题配色-->
                            <li class="dropdown dropdown-skin">
                                <span data-toggle="dropdown" class="icon-palette"><i class="mdi mdi-palette"></i></span>
                                <ul class="dropdown-menu dropdown-menu-right" data-stopPropagation="true">
                                    <li class="drop-title"><p>主题</p></li>
                                    <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="site_theme" value="default" id="site_theme_1" checked>
                    <label for="site_theme_1"></label>
                  </span>
                                        <span>
                    <input type="radio" name="site_theme" value="dark" id="site_theme_2">
                    <label for="site_theme_2"></label>
                  </span>
                                        <span>
                    <input type="radio" name="site_theme" value="translucent" id="site_theme_3">
                    <label for="site_theme_3"></label>
                  </span>
                                    </li>
                                    <li class="drop-title"><p>LOGO</p></li>
                                    <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="logo_bg" value="default" id="logo_bg_1" checked>
                    <label for="logo_bg_1"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_2" id="logo_bg_2">
                    <label for="logo_bg_2"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_3" id="logo_bg_3">
                    <label for="logo_bg_3"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_4" id="logo_bg_4">
                    <label for="logo_bg_4"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_5" id="logo_bg_5">
                    <label for="logo_bg_5"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_6" id="logo_bg_6">
                    <label for="logo_bg_6"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_7" id="logo_bg_7">
                    <label for="logo_bg_7"></label>
                  </span>
                                        <span>
                    <input type="radio" name="logo_bg" value="color_8" id="logo_bg_8">
                    <label for="logo_bg_8"></label>
                  </span>
                                    </li>
                                    <li class="drop-title"><p>头部</p></li>
                                    <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="header_bg" value="default" id="header_bg_1" checked>
                    <label for="header_bg_1"></label>
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_2" id="header_bg_2">
                    <label for="header_bg_2"></label>
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_3" id="header_bg_3">
                    <label for="header_bg_3"></label>
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_4" id="header_bg_4">
                    <label for="header_bg_4"></label>
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_5" id="header_bg_5">
                    <label for="header_bg_5"></label>
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_6" id="header_bg_6">
                    <label for="header_bg_6"></label>
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_7" id="header_bg_7">
                    <label for="header_bg_7"></label>
                  </span>
                                        <span>
                    <input type="radio" name="header_bg" value="color_8" id="header_bg_8">
                    <label for="header_bg_8"></label>
                  </span>
                                    </li>
                                    <li class="drop-title"><p>侧边栏</p></li>
                                    <li class="drop-skin-li clearfix">
                  <span class="inverse">
                    <input type="radio" name="sidebar_bg" value="default" id="sidebar_bg_1" checked>
                    <label for="sidebar_bg_1"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_2" id="sidebar_bg_2">
                    <label for="sidebar_bg_2"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_3" id="sidebar_bg_3">
                    <label for="sidebar_bg_3"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_4" id="sidebar_bg_4">
                    <label for="sidebar_bg_4"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_5" id="sidebar_bg_5">
                    <label for="sidebar_bg_5"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_6" id="sidebar_bg_6">
                    <label for="sidebar_bg_6"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_7" id="sidebar_bg_7">
                    <label for="sidebar_bg_7"></label>
                  </span>
                                        <span>
                    <input type="radio" name="sidebar_bg" value="color_8" id="sidebar_bg_8">
                    <label for="sidebar_bg_8"></label>
                  </span>
                                    </li>
                                </ul>
                            </li>
                            <!--切换主题配色-->
                        </ul>

                    </div>
                </nav>

            </header>
            <!--End 头部信息-->
            <!--页面主要内容-->
            <main class="lyear-layout-content">
                <div class="container-fluid">
                </div>
            </main>
        </div>
    </div>
</div>


<div class="dvcontent">
    <div>
        <!--tab start-->
        <div class="tabs">
            <div class="hd">
                <ul>
                    <li class="on" style="box-sizing: initial;-webkit-box-sizing: initial;">历史公告</li>
                    <li class="" style="box-sizing: initial;-webkit-box-sizing: initial;">发布公告</li>
                </ul>
            </div>
            <div class="bd">
                <ul style="display: block;padding: 20px;">
                    <li>
                        <!--分页显示角色信息 start-->
                        <div id="dv1">
                            <table class="table" id="tbRecord">
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>公告标题</th>
                                    <th>公告内容</th>
                                    <th>公告日期</th>
                                    <th>修改</th>
                                    <th>删除</th>
                                </tr>
                                </thead>
                                <tbody>
                                <span th:if="${announcementVO?.list} != null">
                                <tr
                                        th:each="announcement,stat:${announcementVO.list}">
                                    <td th:text="${stat.count}">1</td>
                                    <td th:text="${announcement.title}">kobe</td>
                                    <td width="50%" th:text="${announcement.content}">菲菲菲非常美丽的巨兔12138</td>
                                    <td th:text="${#dates.format(announcement.time,'yyyy-MM-dd')}">138177322211</td>
                                    <td class="edit">
                                        <!--                                        <button onclick="btn_edit(1)"><i class="icon-edit bigger-120"></i>编辑</button>-->
                                        <button th:onclick="btn_edit([[${announcement.id}]]);" type="button"
                                                data-toggle="modal"
                                                data-target="#myModal"><i class="icon-edit bigger-120"></i>编辑
                                        </button>
                                    </td>
                                    <td class="delete">
                                        <button th:onclick="btn_delete([[${announcement.id}]]);"><i
                                                class="icon-trash bigger-120"></i>删除
                                        </button>
                                    </td>
                                </tr>
                                    </span>
                                </tbody>

                            </table>
                        </div>
                        <!--分页显示角色信息 end-->
                        <div style="text-align: center" th:if="${announcementVO?.list} != null">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="" th:classappend="${page == announcementVO.current}?'active':''"
                                        th:each="page : ${#numbers.sequence(1,announcementVO.pages)}">
                                        <a
                                                th:text="${page}"
                                                th:href="@{http://localhost:8089/user/user/getAnnouncement?currentPage=}+${page}"></a>
                                    </li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </li>
                </ul>
                <ul class="theme-popbod dform" style="display: none;">
                    <div class="am-cf admin-main" style="padding-top: 0px;">
                        <!-- content start -->

                        <div class="am-cf admin-main" style="padding-top: 0px;">
                            <!-- content start -->
                            <div class="admin-content">
                                <div class="admin-content-body">

                                    <div class="am-g">
                                        <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">

                                        </div>
                                        <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4"
                                             style="padding-top: 30px;">
                                            <form class="am-form am-form-horizontal"
                                                  action="/user/user/addAnnouncement" method="post">

                                                <div class="am-form-group">
                                                    <label for="title" class="am-u-sm-3 am-form-label">
                                                        标题 / Title</label>
                                                    <div class="am-u-sm-9">
                                                        <input type="text" id="title" required
                                                               placeholder="标题 / Title" name="title">
                                                    </div>
                                                </div>
                                                <div class="am-form-group">
                                                    <label for="content" class="am-u-sm-3 am-form-label">
                                                        内容/ Content </label>
                                                    <div class="am-u-sm-9">
									<textarea class="" rows="5" id="content" name="content"
                                              placeholder="公告内容"></textarea>
                                                        <small>1000字以内...</small>
                                                    </div>
                                                </div>
                                                <div class="am-form-group">
                                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                                        <input onclick="btn_save();" type="button"
                                                               class="am-btn am-btn-success"
                                                               value="发布公告"/>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- content end -->
                        </div>
                    </div>
                    <!--添加角色 end-->
                </ul>
            </div>

        </div>
        <!-- tab end-->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑公告内容</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="inputId">
                        <div class="form-group">
                            <label for="inputTitle">公告标题</label>
                            <input type="" class="form-control" id="inputTitle"
                                   placeholder="标题">
                        </div>
                        <div class="form-group">
                            <label for="inputContent">公告内容</label>
                            <textarea style="height: 200px;" type="text" class="form-control" id="inputContent"
                                      placeholder="公告内容"> </textarea>
                        </div>
                        <!--   <div class="form-group">
                               <label for="exampleInputFile">File input</label>
                               <input type="file" id="exampleInputFile">
                               <p class="help-block">Example block-level help text here.</p>
                           </div>
                           <div class="checkbox">
                               <label>
                                   <input type="checkbox"> Check me out
                               </label>
                           </div>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button onclick="btn_update();" type="button" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script th:src="@{/../../static/js/plugs/Jqueryplugs.js}" src="js/plugs/Jqueryplugs.js"
            type="text/javascript"></script>
    <script th:src="@{/../../static/js/_layout.js}" src="js/_layout.js"></script>
    <script th:src="@{/../../static/js/plugs/jquery.SuperSlide.source.js}"
            src="js/plugs/jquery.SuperSlide.source.js"></script>
    <script>
        var num = 1;
        $(function () {

            $(".tabs").slide({trigger: "click"});

        });

        // 确认修改
        var btn_update = function () {
            var id = $("#inputId").val();
            var title = $("#inputTitle").val();
            var content = $("#inputContent。").val();
            $.ajax({
                type: "PUT",
                url: "http://localhost:8089/user/user/editAnnouncement",
                data: {id: id, title: title, content: content},
                success: function (data) {
                    if (data > 0) {
                        alert("修改成功");
                        window.location.reload();
                    } else {
                        alert("修改失败");
                    }
                }
            });
        }
        var btn_save = function () {
            // var pid = $("#RawMaterialsTypePageId  option:selected").val();
            var title = $("#title").val();
            var content = $("#content").val();
            $.ajax({
                type: "post",
                url: "/user/user/addAnnouncement",
                // contentType : "application/json",
                data: {title: title, content: content},
                success: function (data) {
                    if (data > 0) {
                        $.jq_Alert({
                            message: "发布成功",
                            btnOktext: "确认",
                            dialogModal: true,
                            btnOkClick: function () {
                                //$("#RawMaterialsTypeName").val("");
                                //$("#RawMaterialsTypeDescription").val("");
                                //$("#Ramark").val("");
                                //page1();
                                location.reload();

                            }
                        });
                    }
                }
            });
            alert(t);
        }

        var btn_edit = function (id) {
            $.ajax({
                type: "GET",
                url: "http://localhost:8089/user/user/getAnnouncementById/" + id,
                success: function (data) {
                    $("#inputId").val(data.id);
                    $("#inputTitle").val(data.title);
                    $("#inputContent").val(data.content);
                }
            });
        }
        var btn_delete = function (id) {
            $.jq_Confirm({
                message: "您确定要删除吗?",
                btnOkClick: function () {
                    $.ajax({
                        type: "DELETE",
                        url: "/user/user/deleteAnnouncementById/" + id,
                        //data: {id: id},
                        success: function (data) {
                            if (data > 0) {
                                $.jq_Alert({
                                    message: "删除成功",
                                    btnOkClick: function () {
                                        page1();
                                    }
                                });
                                alert("删除成功");
                                window.location.reload();
                            } else {
                                alert("删除失败");
                            }
                        }
                    });
                }
            });
        }
    </script>

</div>
</body>

</html>