<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/../../static/css/Site.css}" href="css/Site.css"/>
    <link rel="stylesheet" th:href="@{/../../static/css/zy.all.css}" href="css/zy.all.css"/>
    <link rel="stylesheet" th:href="@{/../../static/css/font-awesome.min.css}" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" th:href="@{/../../static/css/amazeui.min.css}" href="css/amazeui.min.css"/>
    <link rel="stylesheet" th:href="@{/../../static/css/admin.css}" href="css/admin.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="dvcontent">
    <div>
        <!--tab start-->
        <div class="tabs">
            <div class="hd">
                <ul>
                    <li class="on" style="box-sizing: initial;-webkit-box-sizing: initial;">在场车辆</li>
                </ul>
            </div>

            <div class="bd">
                <ul style="display: block;padding: 20px;">
                    <div style="display: block;padding-bottom: 20px;">
                        <div class="row m-b-10">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <form th:action="@{/car/getCarParkings}" method="get">
                                        <div class="col-xs-3">
                                            <input id="area" name="area" type="text" class="form-control"
                                                   placeholder="请输入区域...">
                                        </div>
                                        <div class="col-xs-4">
                                            <input id="parkNumber" name="parkNumber" type="text" class="form-control"
                                                   placeholder="请输入车位号...">
                                        </div>
                                        <div class="col-xs-3">
                                            <input id="username" name="username" type="text" class="form-control"
                                                   placeholder="请输入用户名...">
                                        </div>
                                        <!--   <div class="col-xs-3">
                                               <input id="nicheng" name="nicheng" type="text" class="form-control"
                                                      placeholder="请输入昵称...">
                                           </div>-->
                                        <div class="col-xs-2">
                                            <button class="btn btn-default" type="submit">搜索
                                            </button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <li>
                        <!--分页显示角色信息 start-->
                        <div id="dv1">
                            <table class="table" id="tbRecord">
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>区域</th>
                                    <th>车位号</th>
                                    <th>车牌号</th>
                                    <th>用户名</th>
                                    <th>电话号</th>
                                    <th>入场时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <span th:if="${carParkingVO?.list} != null">
                                    <tr th:each="carParking,stat:${carParkingVO.list}">
                                    <td th:text="${stat.count}">1</td>
                                    <td th:text="${carParking.carParks.area}">kobe</td>
                                    <td th:text="${carParking.carParks.parkNumber}">菲菲菲非常美丽的巨兔12138</td>
                                    <td th:text="${carParking.plateNumber}">菲菲菲非常美丽的巨兔12138</td>
                                    <td th:text="${carParking.user.username}">菲菲菲非常美丽的巨兔12138</td>
                                    <td th:text="${carParking.user.phoneNumber}">138177322211</td>
                                    <td th:text="${#dates.format(carParking.startTime,'yyyy年MM月dd日 HH:mm:ss')}">138177322211</td>
                                        <td
                                                class="delete">
                                             <input type="hidden" id="carparkingId" th:value="${carParking.id}">
                                            <!--                                        <button onclick="btn_edit(1)"><i class="icon-edit bigger-120"></i>编辑</button>-->
                                        <button th:onclick="btn_chuku([[${carParking.id}]]);" type="button"
                                                data-toggle="modal"
                                                data-target="#myModal"><i class="icon-dashboard bigger-120"></i>出库
                                        </button>
                                            <!-- Modal -->

                                    </td>
                                </tr>
                                    </span>
                                </tbody>

                            </table>
                        </div>
                        <!--分页显示角色信息 end-->
                        <div style="text-align: center" th:if="${#lists.size(carParkingVO.list)} != 0">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li>
                                        <a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="" th:classappend="${page == carParkingVO.current}?'active':''"
                                        th:each="page : ${#numbers.sequence(1,carParkingVO.pages)}">
                                        <a
                                                th:text="${page}"
                                                th:href="@{http://localhost:8089/car/getCarParkings?currentPage=}+${page}">1</a>
                                    </li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
        <!-- tab end-->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <input type="hidden" id="outDate">
                    <h4 class="modal-title" id="myModalLabel">确认出库</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" id="carParksId">

                        <div class="form-group">
                            <label for="plateNumber">车牌号</label>
                            <input readonly="readonly" id="plateNumber" class="form-control" type="text"
                                   name="plateNumber">
                        </div>
                        <div class="form-group">
                            <label for="inTime">入库时间</label>
                            <input readonly="readonly" id="inTime" class="form-control" type="text"
                                   name="inTime">
                        </div>
                        <div class="form-group">
                            <label for="outTime">出库时间</label>
                            <input readonly="readonly" id="outTime" class="form-control" type="text"
                                   name="outTime">
                        </div>
                        <div class="form-group">
                            <label for="totalTime">停车时长</label>
                            <input readonly="readonly" id="totalTime" class="form-control" type="text"
                                   name="totalTime">
                        </div>
                        <div class="form-group">
                            <label for="userType">账户类型</label>
                            <input readonly="readonly" id="userType" class="form-control" type="text"
                                   name="userType">
                        </div>
                        <div class="form-group">
                            <label for="cost">费用</label>
                            <input readonly="readonly" id="cost" class="form-control" type="text"
                                   name="cost">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button onclick="car_out();" type="button" class="btn btn-primary">确认</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script th:src="@{/../../static/js/plugs/Jqueryplugs.js}" src="js/plugs/Jqueryplugs.js"
            type="text/javascript"></script>
    <script th:src="@{/../../static/js/_layout.js}" src="js/_layout.js"></script>
    <script th:src="@{/../../static/js/plugs/jquery.SuperSlide.source.js}"
            src="js/plugs/jquery.SuperSlide.source.js"></script>
    <script>
        Date.prototype.format = function (fmt) {

            var o = {

                "M+": this.getMonth() + 1,                 //月份

                "d+": this.getDate(),                    //日

                "h+": this.getHours(),                   //小时

                "m+": this.getMinutes(),                 //分

                "s+": this.getSeconds(),                 //秒

                "q+": Math.floor((this.getMonth() + 3) / 3), //季度

                "S": this.getMilliseconds()             //毫秒

            };

            if (/(y+)/.test(fmt)) {

                fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));

            }

            for (var k in o) {

                if (new RegExp("(" + k + ")").test(fmt)) {

                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));

                }

            }

            return fmt;

        }


        // 点击出库按钮
        var btn_chuku = function (id) {
            $.ajax({
                type: "GET",
                async: false,
                url: "http://localhost:8089/car/getCarParkingById/" + id,
                success: function (data) {
                    var startTime = data.startTime;
                    var endTime = new Date();
                    var carparkingId = data.id;
                    $("#outDate").val(endTime);
                    $("#plateNumber").val(data.plateNumber);
                    $("#carparkingId").val(carparkingId);
                    $("#inTime").val(startTime);
                    $("#outTime").val(endTime.format("yyyy-MM-dd hh:mm:ss"));
                    var dateBegin = new Date(startTime.replace(/-/g, "/"));//将-转化为/，使用new Date
                    var dateEnd = endTime;//获取当前时间
                    var dateDiff = dateEnd.getTime() - dateBegin.getTime();//时间差的毫秒数
                    var userId = data.userId;
                    var result;
                    $.ajax({
                        type: "GET",
                        async: false,
                        url: "http://localhost:8089/car/getCarCardByUserId/" + userId,
                        data: {carparkingId: carparkingId, endTime: endTime},
                        success: function (data) {
                            if (data == 1) {
                                result = "VIP用户";
                            } else if (data == -1) {
                                result = "普通用户";
                            } else {
                                result = "普通用户";
                                dateDiff = data;
                            }
                        }
                    })
                    var dayDiff = Math.floor(dateDiff / (24 * 3600 * 1000));//计算出相差天数
                    var leave1 = dateDiff % (24 * 3600 * 1000) //计算天数后剩余的毫秒数
                    var hours = Math.floor(leave1 / (3600 * 1000))//计算出小时数
                    //计算相差分钟数
                    var leave2 = leave1 % (3600 * 1000) //计算小时数后剩余的毫秒数
                    var minutes = Math.floor(leave2 / (60 * 1000))//计算相差分钟数
                    //计算相差秒数
                    var leave3 = leave2 % (60 * 1000) //计算分钟数后剩余的毫秒数
                    var seconds = Math.round(leave3 / 1000)
                    var totalTime = dayDiff + "天" + hours + "小时" + minutes + "分钟";

                    var cost = 0;
                    // 第一梯度时长
                    var levelOneTime = 0;
                    // 第一梯度费用
                    var levelOne = 0;
                    // 第二梯度时长
                    var levelTwoTime = 0;
                    // 第二梯度费用
                    var levelTwo = 0;
                    // 全天费用
                    var dayCost = 0;
                    $.ajax({
                        type: "GET",
                        async: false,
                        url: "http://localhost:8089/user/car/getCarParkingCostRule",
                        success: function (data) {
                            levelOneTime = data.levelOneTime;
                            levelOne = data.levelOne;
                            levelTwoTime = data.levelTwoTime;
                            levelTwo = data.levelTwo;
                            levelThreeTime = data.levelThreeTime;
                            levelThree = data.levelThree;
                            dayCost = data.dayCost;
                        }
                    })
                    if (result == "普通用户") {
                        // 对进入小区临时停车的小、中型车，1小时以内免费；1~4小时收费5元；5小时以上9小时以内收费8元；全天10元。
                        if (hours < levelOneTime) {
                            cost = dayDiff * dayCost + levelOne;
                        } else if (hours >= levelOneTime && hours < levelTwoTime) {
                            cost = dayDiff * dayCost + levelTwo;
                        } else if (hours >= levelTwoTime && hours < levelThreeTime) {
                            cost = dayDiff * dayCost + levelThree;
                        } else if (hours >= levelThreeTime) {
                            cost = dayDiff * dayCost + dayCost;
                        }
                    } else {
                        cost = 0;
                    }
                    $("#userType").val(result);
                    $('#totalTime').val(totalTime);
                    $('#cost').val(cost);
                }
            });
        }
      /*  var btn_chuku = function (id) {
            $.ajax({
                type: "GET",
                async: false,
                url: "http://localhost:8089/car/getCarParkingById/" + id,
                success: function (data) {
                    var startTime = data.startTime;
                    var endTime = new Date();
                    $("#outDate").val(endTime);
                    $("#plateNumber").val(data.plateNumber);
                    $("#carparkingId").val(data.id);
                    $("#inTime").val(startTime);
                    $("#outTime").val(endTime.format("yyyy-MM-dd hh:mm:ss"));
                    var dateBegin = new Date(startTime.replace(/-/g, "/"));//将-转化为/，使用new Date
                    var dateEnd = endTime;//获取当前时间
                    var dateDiff = dateEnd.getTime() - dateBegin.getTime();//时间差的毫秒数
                    var userId = data.userId;
                    var result;
                    $.ajax({
                        type: "GET",
                        async: false,
                        url: "http://localhost:8089/car/getCarCardByUserId/" + userId,
                        data: {endTime: endTime},
                        success: function (data) {
                            if (data == 1) {
                                result = "VIP用户";
                            } else if (data == -1) {
                                result = "普通用户";
                            } else {
                                result = "普通用户";
                                dateDiff = data;
                            }
                        }
                    })
                    var dayDiff = Math.floor(dateDiff / (24 * 3600 * 1000));//计算出相差天数
                    var leave1 = dateDiff % (24 * 3600 * 1000) //计算天数后剩余的毫秒数
                    var hours = Math.floor(leave1 / (3600 * 1000))//计算出小时数
                    //计算相差分钟数
                    var leave2 = leave1 % (3600 * 1000) //计算小时数后剩余的毫秒数
                    var minutes = Math.floor(leave2 / (60 * 1000))//计算相差分钟数
                    //计算相差秒数
                    var leave3 = leave2 % (60 * 1000) //计算分钟数后剩余的毫秒数
                    var seconds = Math.round(leave3 / 1000)
                    var totalTime = dayDiff + "天" + hours + "小时" + minutes + "分钟";

                    var cost = 0;
                    if (result == "普通用户") {
                        // 对进入小区临时停车的小、中型车，1小时以内免费；1~4小时收费5元；5小时以上9小时以内收费8元；全天10元。
                        if (hours < 1) {
                            cost = dayDiff * 10 + 0;
                        } else if (hours >= 1 && hours < 5) {
                            cost = dayDiff * 10 + 5;
                        } else if (hours >= 5 && hours < 9) {
                            cost = dayDiff * 10 + 8;
                        } else if (hours >= 9) {
                            cost = dayDiff * 10 + 10;
                        }
                    } else {
                        cost = 0;
                    }
                    $("#userType").val(result);
                    $('#totalTime').val(totalTime);
                    $('#cost').val(cost);
                }
            });
        }*/

        // 出库缴费
        var car_out = function () {
            var carparkingId = $("#carparkingId").val();
            // 出库时间
            var outTime = $("#outDate").val();
            // 应该缴纳的费用
            var money = $("#cost").val();
            // 缴费备注
            var context = "停车缴费";
            $.ajax({
                type: "PUT",
                url: "http://localhost:8089/car/updateCarParkingById/" + carparkingId,
                data: {outTime: outTime, money: money, context: context},
                success: function (data) {
                    if (data > 0) {
                        alert("出库成功");
                        window.location.reload();

                    } else if (data == -2) {
                        alert("余额不足，请充值后缴费");
                        window.location.reload();

                    } else {
                        alert("出库失败，请重试");
                        window.location.reload();
                    }
                }
            })
        }


            var num = 1;
            $(function () {

                $(".tabs").slide({trigger: "click"});

            });

            // 确认修改
            var btn_update = function () {
                var id = $("#inputId").val();
                var area = $("#inputArea").val();
                var parkNumber = $("#inputParkNumber").val();
                var remark = $("#inputRemark").val();
                $.ajax({
                    type: "PUT",
                    url: "http://localhost:8089/car/updateCarParks",
                    data: {id: id, area: area, parkNumber: parkNumber, remark: remark},
                    success: function (data) {
                        if (data > 0) {
                            alert("修改成功");
                            window.location.reload();
                        } else {
                            alert("修改失败");
                        }
                    }
                });
            }
            var btn_save = function () {
                // var pid = $("#RawMaterialsTypePageId  option:selected").val();
                var area = $("#area").val();
                var parkNumber = $("#parkNumber").val();
                var remark = $("#remark").val();
                $.ajax({
                    type: "post",
                    url: "/car/addCarParks",
                    // contentType : "application/json",
                    data: {area: area, parkNumber: parkNumber, remark: remark},
                    success: function (data) {
                        if (data > 0) {
                            $.jq_Alert({
                                message: "添加成功",
                                btnOktext: "确认",
                                dialogModal: true,
                                btnOkClick: function () {
                                    //$("#RawMaterialsTypeName").val("");
                                    //$("#RawMaterialsTypeDescription").val("");
                                    //$("#Ramark").val("");
                                    //page1();
                                    location.reload();

                                }
                            });
                        }
                    }
                });
                alert(t);
            }

            var btn_edit = function (id) {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:8089/car/getCarParksById/" + id,
                    success: function (data) {
                        $("#inputId").val(data.id);
                        $("#inputArea").val(data.area);
                        $("#inputParkNumber").val(data.parkNumber);
                        $("#inputRemark").val(data.remark);
                    }
                });
            }
            var btn_delete = function (id) {
                $.jq_Confirm({
                    message: "您确定要删除吗?",
                    btnOkClick: function () {
                        $.ajax({
                            type: "DELETE",
                            url: "/car/deleteCarParks/" + id,
                            //data: {id: id},
                            success: function (data) {
                                if (data > 0) {
                                    $.jq_Alert({
                                        message: "删除成功",
                                        btnOkClick: function () {
                                            page1();
                                        }
                                    });
                                    alert("删除成功");
                                    window.location.reload();
                                } else {
                                    alert("删除失败");
                                }
                            }
                        });
                    }
                });
            }
    </script>

</div>
</body>

</html>