<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>管理员登录</title>

    <link rel="stylesheet" type="text/css" th:href="@{/../static/css/style.css}" href="css/style.css">

    <script type="text/javascript" th:src="@{/../static/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/../static/js/vector.js}" src="js/vector.js"></script>

</head>
<body>

<div id="container">
    <div id="output">
        <div class="containerT">
            <h1>管理员登录</h1>
            <form class="form" id="entry_form" th:action="@{/admin/user/getAdminUser}" method="post">
                <input type="text" placeholder="用户名" name="username" id="entry_name">
                <input type="password" placeholder="密码" name="password" id="entry_password">
                <button type="submit" onclick="return check();" id="entry_btn">登录</button>
                <div id="prompt" class="prompt">
                    <span th:text="${message}"></span>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        Victor("container", "output");   //登录背景函数
        $("#entry_name").focus();
        $(document).keydown(function (event) {
            if (event.keyCode == 13) {
                $("#entry_btn").click();
            }
        });
    });

    function check() {
        var flag = true;
        var admin = document.getElementById("entry_name").value;
        var password = document.getElementById("entry_password").value;
        if ("" == admin) {
            alert("请输入账号！");
            flag = false;
            return false;
        } else if ("" == password) {
            alert("请输入密码！");
            flag = false;
            return false;
        }
        if (flag == true) {
            //form.submit();
            return true;
        }
    }


</script>
</body>
</html>